
/*-----Обнуляющий стиль------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}


/*------------------------------------*/

html,
body {
	height: 100%;
	font-family: 'Poppins', sans-serif;
	color: #4D533C;
	font-size: 18px;
	line-height: 162.5%;
}



.container {
	width: 80%;
	max-width: 1140px;
	margin: 0 auto;
}

.link a{
	color: #D4D6D4;
	font-weight: bold;		
}

.link__text {
	border-bottom: 1px solid #D4D6D4;
	display: inline-block;
	line-height: 100%;
	padding-left: 10px;
}

.link__img {
	display: inline-block;
	width: 5px;
	height: 10px;
	background-repeat: no-repeat;	
}

.link a:hover {
	color: #FFD723;
}

.link:hover .link__text {
	border-bottom: 1px solid #FFD723;
}

.link:hover .link__img{
	background-image: url(../img/arrow.png);
}

/*------------------------------------*/

.nav {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	padding-top: 25px;
}

.nav .container {
	display: flex;
	justify-content: space-between;
}

.nav__logo {

}

.nav__menu {
	display: flex;
}

.nav__link-wrapper {
	display: none;
}

.nav__link {
	display: flex;
}

.nav__link a {
	color: #fff;
	transition: 500ms;
	
}

.nav__link a:hover {
	color: #ffd723;
	
}

.nav__link li {
	margin-right: 30px;
}

.nav__burger {
	width: 40px;
	height: 40px;
	text-align: center;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	background-color: #f5f6f7;
	position: relative;
}

.nav__burger:hover {
	background-color: #ffd723;
	transition: 500ms;
}

.nav__burger:hover .ico__burger{
	background-color: #fff;
	transition: 500ms;
}

.nav__burger label {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#nav__burger {
	display: none;
}

#nav__burger:checked ~ div {
	display: flex;
}

.ico__burger {
	display: block;
	width: 20px;
	height: 2px;
	background-color: #000;
	margin-bottom: 3px;
	margin: 0 auto;
}

.ico__burger:not(:last-child){
	margin-bottom: 3px;
}

/*------------------------------------*/

.promo {
	background-image: url(../img/bg1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 810px;
	color: #fff;
	padding: 190px 0px 210px 0px;
	position: relative;
}

.promo__body {
	max-width: 565px;
}

.promo__subtitle {
	font-size: 16px;
	margin-bottom: 20px;
}

.promo__title {
	font-size: 60px;
	line-height: 124%;
	font-weight: bold;
	margin-bottom: 25px;
}

.promo__text {
	margin-bottom: 45px;
}

.promo__link .link__img {
	background-image: url(../img/arrow.png);
}

.promo__link a {
	color: #FFD723;
}

.promo__link a:hover {
	color: #D4D6D4;
}

.promo__link:hover .link__img{
	background-image: url(../img/arrow-gray.png);
}

.promo__link .link__text {
	border-bottom: 1px solid #FFD723;
}

.promo__link:hover .link__text {
	border-bottom: 1px solid #D4D6D4;
}

/*------------------------------------*/

.investors {
	margin-bottom: 250px;
	position: relative;
}

.investors .container {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #fff;
	margin-top: -110px;
	width: 100%;
	max-width: 100%;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	border-radius: 2px;
	padding: 60px 65px 55px;
	
}

.investors__list {
	display: flex;
	justify-content: center;
	
}

.investors__list li:not(:last-child) {
	padding-right: 65px;
}

/*------------------------------------*/

.about {
	margin-bottom: 350px;
}

.about .container {
	display: flex;
	justify-content: space-between;
}

.about__item {
	max-width: 475px;
}

.about__subtitle {
	font-size: 16px;
	margin-bottom: 30px;
}

.about__title {
	max-width: 390px;
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
	margin-bottom: 35px;
}

.about__text {
	margin-bottom: 40px;
	color: #213842;
	opacity: 0.6;
}

.about__link .link__img {
	background-image: url(../img/arrow-gray.png);
}

.about__review {
	max-width: 475px;
	padding: 0 50px;
}

.about__review .review__item {
	justify-content: center;
}

.about__review .review__text {
	margin-bottom: 60px;
	font-size: 24px;
	line-height: 166%;
}

.about__review .review__img {
	margin-right: 30px;
}

.about__review .review__name {
	font-size: 22px;
	line-height: 33px;
	margin-bottom: 6px;
}

.about__review .review__post {
	font-size: 18px;
	line-height: 24px;
}

/*------------------------------------*/

.caption {
	margin-bottom: 110px;
}

.caption .container {
	display: flex;	
}

.caption__wrapper {
	display: flex;
	max-width: 920px;
	justify-content: space-between;
}

.caption__title {
	width: 36%;
	font-size: 36px;
	line-height: 150%;
	font-weight: 700;
}

.caption__text {
	width: 52%;
}

/*------------------------------------*/

.project-first {
	margin-bottom: 165px;
}

.project .container {
	/*margin: 0 auto;
	width: 100%;
	max-width: 100%;*/	
}

.project__wrapper {
	display: flex;
}

.project__image {
	display: inline-block;
	flex: 0 1 51%;
	max-width: 735px;
	position: relative;
	margin-right: 105px;
	margin-left: -14%;
}


.project__review {
	position: absolute;
	right: -40px;
	bottom: -65px;
	background-color: #fff;
	border-radius: 8px;
	padding: 30px;
	width: 453px;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	
}

.review {
	display: flex;
	flex-direction: column;
}

.review__text {
	font-style: italic;
	margin-bottom: 25px;
}

.review__person {
	display: flex;
}

.review__image {
	margin-right: 15px;
}

.review__image img {
	box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
	border-radius: 50%;
}

.review__item {
	display: flex;
	flex-direction: column;
}

.review__name {
	font-weight: 700;
}

.review__post {
	color: #152934;
	font-size: 16px;
}

.project__info {

}

.info {
	max-width: 420px;
	
}

.info__title {
	font-size: 36px;
	font-weight: 700;
	line-height: 133%;
	margin-bottom: 25px;
}

.info__text {
	color: #213842;
	opacity: 0.6;
	margin-bottom: 90px;
}

.info__text p:not(:last-child) {
	margin-bottom: 20px;
}

.info__link .link__img {
	background-image: url(../img/arrow-gray.png);
}

/*------------------------------------*/

.project-reverse {
	margin-bottom: 165px;
}

.project-reverse .project__wrapper {
	flex-direction: row-reverse;
}

.project-reverse .project__image {
	margin-left: 14%;
	margin-right: -14%;
}

.project-reverse .project__review {
	left: -40px;
}

/*------------------------------------*/

.project-last {
	margin-bottom: 335px;
}

/*------------------------------------*/

.advantages {
	margin-bottom: 320px;
}

.advantages__title {
	max-width: 610px;
	line-height: 128%;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 60px;
}

.advantages__row {
	display: flex;
}

.column-advantage {
	margin: 0 30px;
	flex: 0 1 25%;
	display: flex;
	flex-direction: column;	
}

.column-advantage__caption {
	font-size: 24px;
	line-height: 142%;
	text-transform: uppercase;
	flex: 0 1 auto;
	margin-bottom: 20px;
}

.column-advantage__text {
	flex: 1 1 auto;
	font-size: 16px;
	color: #213842;
	opacity: 0.6;
}

.column-advantage__link {
	margin-top: 30px;
}

.column-advantage__link .link__img {
    background-image: url(../img/arrow-gray.png);
}


/*------------------------------------*/


.start {	
	position: relative;
}

.start .container {
	position: absolute;
	top: -170px;
	left: 0;
	background-color: #fafafa;
	box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
	padding: 70px 0;
	width: 100%;
	max-width: 100%;
}

.start__item {
	display: flex;
	flex-direction: column;
	width: 78%;
	max-width: 1140px;
	margin: 0 auto;
}

.start__title {
	font-size: 60px;
	line-height: 124%;
	font-weight: 700;
	margin-bottom: 50px;
}

.start__link .link__img{
	background-image: url(../img/arrow-gray.png);
}

.start__link .link__text {
	text-transform: uppercase;
}

/*------------------------------------*/


.footer {
	background-image: url(../img/bg-footer.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 310px;
	padding-bottom: 30px;
}
.footer .container {
	display: flex;
	flex-direction: column;
}

.footer__top {
	padding-bottom: 50px;
	border-bottom: 1px solid #5D6544;
}
.top-footer {
	display: flex;	
}

.top-footer__item:not(:last-child) {
	margin-right: 130px;
}

.top-footer__contact {
	color: #B6C197;
	line-height: 222%;
	margin-bottom: 8px;
}

.top-footer__link a {
	color: #fff;
	line-height: 222%;
	font-weight: 700;
}

.top-footer__contact {

}

/*----------------*/

.footer__menu {

}
.menu-footer {
	margin: 60px 0;
	
}
.menu-footer__row {
	display: flex;
	justify-content: space-between;
}

.menu-footer__column {

}

.menu-footer__column:last-child {
	padding-left: 100px;
	border-left: 1px solid #5D6544;
}

.menu-footer__label {
	font-weight: 700;
	color: #fff;
	line-height: 238%;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.menu-footer__list a {
	color: #B6C197;
	line-height: 222%;
}

.menu-footer__social {
	display: flex;
}

.menu-footer__social li a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33px;
	height: 33px;
	background-color: #444A34;
	border-radius: 50%;
	transition: 500ms;
}

.menu-footer__social li:not(:last-child) {
	margin-right: 15px;
}

.menu-footer__social li a:hover {
	background-color: #FFD723;
}

.menu-footer__social li a:hover .ico__social {
	opacity: 1;
}

.menu-footer__text {
	color: #B6C197;
	line-height: 163%;
	margin-bottom: 25px;
}

.menu-footer__link {
	margin-bottom: 25px;
}

.menu-footer__link a {
	font-weight: 700;
	color: #fff;
	font-size: 24px;
	line-height: 158%;
}

.ico__social {
	opacity: 0.5;
}

.social-fb {
	width: 15px;
	height: 23px;
}

.social-tw {
	width: 21px;
	height: 18px;
}

.social-g {
	width: 29px;
	height: 21px;
}

.social-in {
	width: 20px;
	height: 18px;
}

/*----------------*/

.footer__bottom {
	padding-top: 25px;
	border-top: 1px solid #5D6544;
}
.bottom-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.bottom-footer__logo {

}
.bottom-footer__copyright {
	font-size: 16px;
	line-height: 150%;
	color: #B5C096;
}